.month_shift {
  text-align: center;
}

.month_shift_button {
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.year_month {
  font-size: 20px;
  font-weight: bold;
}